<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Cedric Dsouza. It uses data from weather-stack and mapbox.com</p>
        <!-- <h2>{{title}}</h2>  -->
        <img class="potrait" src="/img/33.jpeg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>